.hide {
  display: none;
}

.red-fill {
  fill: #FF0000 !important;
}

.red-stroke {
  stroke: #FF0000 !important;
}

.white-fill {
  fill: #FFFFFF !important;
}

#audio-event-log {
  position: fixed;
  bottom: 0;
  left: 1em;
  width: 100%;
}
