/* styles.css */
.popover-icon {
  position: fixed;
  top: 0.10em;
  right: 0.5em;
  cursor: pointer;
  color: @outline-color;
  font-size: 2em;
}

@media (hover: hover) {
  .popover-icon:hover {
    color: @hover-color;
  }
}

.popover-content {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  background-color: @background-color;
  border: 1px solid @outline-color;
  padding: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: inline-flex;
  color: @foreground-color;
}

.popover-content button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 16px;
  line-height: 1;
  padding: 0;
}

.popover-content .close-button-times {
  position: absolute;
  top: 0.1em;
  right: 0.3em;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 2em;
  line-height: 1;
  padding: 0;
  color: @outline-color;
}

@media (hover: hover) {
  .popover-content .close-button-times:hover {
    color: @hover-color;
  }
}

#popover-content-inactive {
  padding-top: 1em;
  padding-bottom: 1em;
}
