.tabs-container {
  display: flex;
  align-items: center;
  padding-right: 10px;
  /* background-color: #f3f3f3; */
}

.tab {
  padding: 10px 20px;
  margin: 0;
  margin-right: 0.25rem;
  /* border-radius: 5px; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.tab:hover {
  background-color: #ddd;
}

.active {
  background-color: #007bff;
  color: #fff;
}

.tab-content {
  padding: 20px;
  border: 1px solid #ddd;
}
